{% extends "base.html" %}
{% block content %}
  <a href="/todos/{{ todo_list.id }}/edit/">Edit list</a>
  <a href="/todos/{{ todo_list.id }}/delete/">Delete list</a>
  <a href="{% url "create_list" %}">Create new list item</a>
  <ul>
    {% for item in todo_list.items.all %}
      <li>
        <p>{{ item }}</p>
        <a href="/todos/items/{{ item.id }}/edit/">Edit</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}