{% extends "base.html" %}
{% block content %}
  <a href="{% url "create_list" %}">Create new list</a>
  <ul>
    {% for list in todo_lists %}
      <li>
        <p>{{ list.name }}</p>
        <a href="{% url "todo_list_detail" list.id %}">Detail</a>
        <a href="/todos/items/create/">Create new list item</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

